.Headline_42 {
	font-size: 42px;
	font-weight: 800;
}

.Headline_36 {
	font-size: 36px;
	font-weight: 800;
}

.Headline_30 {
	font-size: 30px;
	font-weight: 800;
}

.Headline_24 {
	font-size: 24px;
	font-weight: 800;
}

.Headline_20 {
	font-size: 20px;
	font-weight: 800;
}

.BoldBodyText_18 {
	font-size: 18px;
	font-weight: 800;
}

.BodyTextRegular_18 {
	font-size: 18px;
	font-weight: 600;
}

.BodyText_18 {
	font-size: 18px;
	font-weight: 700;
}

.BoldBodyText_16 {
	font-size: 16px;
	font-weight: 800;
}

.BodyTextRegular_16 {
	font-size: 16px;
	font-weight: 600;
}

.BodyText_16 {
	font-size: 16px;
	font-weight: 700;
}

.BoldBodyText_14 {
	font-size: 14px;
	font-weight: 800;
}

.BodyTextRegular_14 {
	font-size: 14px;
	font-weight: 600;
}

.BodyText_14 {
	font-size: 14px;
	font-weight: 700;
}

.BoldBodyText_12 {
	font-size: 12px;
	font-weight: 800;
}

.BodyTextRegular_12 {
	font-size: 12px;
	font-weight: 600;
}

.BodyText_12 {
	font-size: 12px;
	font-weight: 700;
}
