.container {
	height: auto;

	padding: 0 16px;

	cursor: text;

	border-width: 1px;
	border-radius: 15px;
}

.placeholder {
	padding-top: 16px;

	transition: all .1s;

	font-weight: 700;
}

.placeholder-focused {
	padding-top: 8px;

	font-size: 12px;
}

.textarea {
	overflow: hidden;

	width: 100%;
	height: min-content;

	margin-bottom: 8px;

	resize: none;

	outline: none;

	background: transparent;
}

.error-message {
	margin: 2px 0 0 18px;

	font-size: 14px;
	font-weight: 700;
}